.header-container {
    background-color: #007BFF;
    border-top: 3px solid #0056b3;
    text-align: center;
    padding: 10px;
}

.header-container h1 {
    color: #fff;
}

.search-container {
    text-align: left;
    padding: 10px;
    width: 150px;
}

.search-container p {
    margin-bottom: 10px;
}

.results-container {
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    min-width: 400px;
    top: auto;
}

#current-weather {
    text-align: left;
}

.forecast-container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; 
}

.inline-block {
    display: inline-block;
    margin: 5px;
  }

  .blue-button {
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-bottom: 2px;
    margin-top: 2px;
    min-width: 30px;
  }

  .city-box {
    background-color: #e0e0e0; 
    padding: 5px; 
    margin: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 200px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 30px;
}

.container aside {
    flex-basis: 20%;
}
  
  #current-weather {
    flex-basis: 15%;
  
}

  #five-day-forecast {
    flex-basis: 60%;
    margin: 10px;
  }